.pokemon-gallery{
  color:black;
  font-family:Helvetica, sans-serif;
  text-align: center;
  background-color: yellow;
  opacity: 5;
  border: 5px solid red;
  width: auto;
}
.gallery-button{
       background-color: black;
       color: aliceblue;
       width: 100px;
       height: 35px;
}
.gallery-button:hover{
    color:red;
}
